// Variables
$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-third: #99e2d0;

// Functions

//Mixins




// Example
/*
.nav {
    color: white;
    &__link {
        color: white;
        &--active {
            color: white;
        }
    }
}
*/

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}
.header {
    padding: 0.5em;
    text-align: center;
    &__logo  {
        height: 1.6em;
    }
}
.sub-header {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    height: 3em;
    box-shadow: inset 0px 11px 10px -15px grey;
    &__icon {
        align-self: center;
        padding-right: 1em;
        font-size: 0.9em;

    }
    &__text {
        align-self: center;
        font-size: 0.9em;

    }
}