/*
.nav {
    color: white;
    &__link {
        color: white;
        &--active {
            color: white;
        }
    }
}
*/
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
}

.background-grey {
  background-color: #f7f7f7;
}

.background-grey--dark {
  background-color: #eeeeee;
}

/* Loading spinner */
#loading-spinner--bg {
  position: fixed;
  top: 0;
  left: -0.01%;
  background-color: white;
  height: 100%;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: bg-pink;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#loading-spinner--main {
  position: relative;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356dc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  z-index: 1001;
  animation-name: spin;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bg-pink {
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    left: 0;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}

/* Header */
.header {
  padding: 0.5em;
  text-align: center;
  position: relative;
}

.header__logo {
  height: 1.6em;
}

.header__icon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 2em;
  transform: translate(-50%, -50%);
}

/* Accueil */
.sub-header {
  display: flex;
  justify-content: center;
  height: 3em;
  box-shadow: inset 0px 11px 10px -15px grey;
}

.sub-header__icon {
  align-self: center;
  padding-right: 1em;
  font-size: 0.9em;
}

.sub-header__text {
  align-self: center;
  font-size: 0.9em;
}

.hero {
  padding: 1em 2em 2em 2em;
  text-align: center;
}

.hero__titre {
  margin-bottom: 0;
  padding-right: 1em;
  padding-left: 1em;
}

.hero__text {
  color: grey;
  margin-top: 0.5em;
  padding-bottom: 1em;
}

.button {
  padding: 1em 1.2em 1em 1.2em;
  border: none;
  border-radius: 30px;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: white;
  font-weight: bold;
  box-shadow: 0px 5px 10px #cacaca;
}

.button:hover {
  opacity: 0.85;
  cursor: pointer;
  color: #41107e;
  box-shadow: 0px 5px 10px gray;
}

.button--hero {
  margin-bottom: 1em;
}

.button--carte {
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: 3em;
  margin-top: 2em;
  font-size: 1em;
  padding-left: 3em;
  padding-right: 3em;
}

.button--center {
  text-align: center;
}

.operation {
  padding: 1em;
}

.step {
  display: flex;
  position: relative;
  margin-bottom: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #cacaca;
}

.step:hover {
  background-color: #f3e9ff;
  cursor: pointer;
}

.step:hover > .step__icon {
  color: #9356dc;
}

.step__icon {
  padding-left: 2em;
  align-self: center;
  font-size: 18px;
  color: gray;
  width: 20px;
}

.step__text {
  padding-left: 1.5em;
  font-weight: 500;
}

.step__number-left {
  display: flex;
  background-color: #9356dc;
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  align-self: center;
  justify-content: center;
  left: -10px;
}

.step__number-left-number {
  align-self: center;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}

.restaurant {
  padding: 1em;
  padding-top: 2em;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 10px #cacaca;
  position: relative;
}

.card--margin-bottom {
  margin-bottom: 20px;
}

.card__image {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-sub {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1px;
  position: relative;
  width: 97%;
  width: calc(100% - 18px);
}

.card-sub--menu {
  padding: 0.7em;
  margin-bottom: 1em;
  width: 92%;
  width: calc(100% - 15px);
}

.card-sub__titre {
  font-weight: bold;
}

.card-sub__titre--main {
  margin-bottom: 0;
}

.card-sub__titre--menu {
  margin: 0;
  margin-bottom: 5px;
  width: 70%;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-sub__text {
  font-weight: 300;
}

.card-sub__text--main {
  margin-top: 5px;
}

.card-sub__text--menu {
  margin: 0;
  font-size: 0.9em;
  margin-bottom: -10px;
  width: 70%;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-sub__heart {
  position: absolute;
  top: 0.5em;
  right: 2em;
}

.card-sub__price {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 0.9em;
  font-weight: bold;
}

.card__new-mint {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: #99e2d0;
  color: #259277;
  padding: 0.4em 0.8em 0.4em 0.8em;
  font-weight: 500;
  font-size: 0.9em;
  border-radius: 2px;
}

.card__click {
  width: 0px;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
}

.card__click-mint {
  background-color: #99e2d0;
}

.card__click-check {
  align-self: center;
  height: 1.5em;
  width: 1.5em;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.card__click-icon {
  color: #99e2d0;
  align-self: center;
}

.footer {
  background-color: #313131;
  color: white;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.4em;
  margin-top: 2em;
  padding-bottom: 2em;
}

.footer__titre {
  font-family: Shrikhand;
}

.footer__icon {
  padding-right: 10px;
  width: 20px;
  font-size: 0.8em;
}

.footer__a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 10px;
}

/* Menu */
.slider {
  z-index: 1;
}

.slider__image {
  width: 100%;
}

.slider__image--desktop {
  display: none;
}

.carte {
  position: relative;
  top: -3em;
  z-index: 1000;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding: 1em;
  margin-bottom: -5em;
}

.carte-header {
  position: relative;
}

.carte-header__titre {
  margin-top: 0.5em;
  font-family: Shrikhand, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  padding-right: 2em;
}

.carte-header__heart {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(-50%, -50%);
}

.heart {
  font-size: 1.5em;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.heart--second {
  font-size: 1.5em;
  color: transparent;
  position: absolute;
}

.heart--home {
  width: 1.5em;
}

.heart-box {
  height: 30px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.heart-box--menu {
  background-color: #f7f7f7;
  width: 50px;
  left: -12px;
}

.heart-box--home {
  background-color: white;
  width: 100%;
  left: -8px;
}

.menu__titre {
  margin-top: 1.5em;
  font-weight: 300;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.menu__titre-ligne {
  width: 50px;
  height: 3.5px;
  background-color: #99e2d0;
  display: block;
  margin-bottom: 1em;
}

.menu__card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 10px #cacaca;
  position: relative;
  margin: 5px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
  animation-name: card-delay;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease;
  opacity: 0;
}

.menu__card:hover {
  cursor: pointer;
}

.menu__card:hover > .card__click {
  animation-name: mint;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.menu__card:hover > .card__click > .card__click-check {
  animation-name: check;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.menu__card:hover > .card-sub {
  animation-name: mint-sub;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.delay--1 {
  animation-delay: 0.4s;
}

.delay--2 {
  animation-delay: 0.7s;
}

.delay--3 {
  animation-delay: 1s;
}

.delay--4 {
  animation-delay: 1.3s;
}

.delay--5 {
  animation-delay: 1.6s;
}

.delay--6 {
  animation-delay: 1.9s;
}

.delay--7 {
  animation-delay: 2.2s;
}

.delay--8 {
  animation-delay: 2.5s;
}

.delay--9 {
  animation-delay: 2.8s;
}

@keyframes mint-sub {
  0% {
  }
  100% {
    width: calc(100% - 100px);
  }
}

@keyframes mint {
  0% {
    width: 0px;
  }
  100% {
    width: 80px;
  }
}

@keyframes check {
  0% {
    width: 0px;
    height: 0px;
  }
  60% {
    width: 0em;
    height: 0em;
  }
  80% {
    width: 2.2em;
    height: 2.2em;
  }
  100% {
    width: 1.5em;
    height: 1.5em;
  }
}

.carte-header__heart .heart-box {
  transition: all 0.6s ease;
}

.carte-header__heart .heart {
  transition: all 0.6s ease;
}

.carte-header__heart:hover {
  cursor: pointer;
}

.carte-header__heart:hover .heart-box {
  z-index: 10;
  height: 0px;
}

.carte-header__heart:hover .heart {
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: transparent;
}

@keyframes card-delay {
  0% {
    top: 20px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@media screen and (min-width: 700px) {
  /* page accueil */
  .operation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .operation__titre {
    width: 100%;
  }
  .restaurant {
    display: flex;
    flex-wrap: wrap;
  }
  .restaurant__titre {
    width: 100%;
  }
  .card {
    margin: 5px 20px 10px 20px;
    width: 46.2%;
    width: calc(50% - 40px);
  }
  /* page menu */
  .slider__image {
    display: none;
  }
  .slider__image--desktop {
    display: block;
    height: 550px;
    width: 100%;
  }
  .carte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .carte-header {
    width: 100%;
    text-align: center;
  }
  .menu {
    margin: 10px 20px 10px 20px;
  }
  .button--res {
    width: 100%;
  }
  /* footer */
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
  .footer__titre {
    width: 100%;
  }
  .footer__a {
    margin-right: 1em;
  }
}

@media screen and (min-width: 700px) and (max-width: 1100px) {
  /* Page accueil */
  .step {
    margin: 10px 20px 10px 20px;
    width: 29.5%;
    width: calc(50% - 40px);
  }
  /* Page Menu */
  .menu:nth-child(2) {
    width: 45.2%;
    width: calc(50% - 40px);
  }
  .menu:nth-child(3) {
    width: 45.2%;
    width: calc(50% - 40px);
  }
  .menu:nth-child(4) {
    width: 45.2%;
    width: calc(50% - 40px);
  }
}

@media screen and (min-width: 1101px) {
  /* Page accueil */
  .operation {
    display: flex;
    flex-wrap: wrap;
  }
  .operation__titre {
    width: 100%;
  }
  .step {
    margin: 5px 20px 10px 20px;
    width: 29.5%;
    width: calc(33% - 40px);
  }
  .restaurant {
    display: flex;
    flex-wrap: wrap;
  }
  .restaurant__titre {
    width: 100%;
  }
  /*Page menu */
  .menu:nth-child(2) {
    width: 29.5%;
    width: calc(33% - 40px);
  }
  .menu:nth-child(3) {
    width: 29.5%;
    width: calc(33% - 40px);
  }
  .menu:nth-child(4) {
    width: 29.5%;
    width: calc(33% - 40px);
  }
}

@media screen and (min-width: 1200px) {
  .operation, .restaurant, .slider, .carte {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .restaurant {
    border-radius: 5px;
  }
}
