/*
.nav {
    color: white;
    &__link {
        color: white;
        &--active {
            color: white;
        }
    }
}
*/
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
  padding: 0.5em;
  text-align: center;
}

.header__logo {
  height: 1.6em;
}

.sub-header {
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
  height: 3em;
  box-shadow: inset 0px 11px 10px -15px grey;
}

.sub-header__icon {
  align-self: center;
  padding-right: 1em;
  font-size: 0.9em;
}

.sub-header__text {
  align-self: center;
  font-size: 0.9em;
}
