#loading-spinner {
    &--bg {
        position: fixed;
        top: 0;
        left: -0.01%;
        background-color: rgb(255, 255, 255);
        height: 100%;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: bg-pink;
        animation-duration: 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;}
    &--main {
        position: relative;
        border: 10px solid #f3f3f3; 
        border-top: 10px solid $colour-primary; 
        border-radius: 50%;
        width: 100px;
        height: 100px;
        
        z-index: 1001;
        animation-name: spin;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        opacity: 1;
    }
}