@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes bg-pink {
    80% {
      opacity: 1;
    }
    90% {
      opacity: 0;
      left: 0;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}
@keyframes mint-sub {
    100% {width: calc(100% - 100px);}
}
@keyframes mint {
    0%{
        width: 0px;
    }    
    100% {
        width: 80px;
    }
}
@keyframes check {
    0% {
        transform: rotate(130deg);
    }
    20% {
        transform: rotate(130deg);
    }
    100% {
        transform: rotate(360deg);

    }
    /*
    0%{
        width: 0px;
        height: 0px;
    }    
    60% {width: 0em;
        height: 0em;}
    80% {width: 2.2em;
        height: 2.2em;}
    100% {
        width: 1.5em;
        height: 1.5em;
    }*/
}
.carte-header__heart .heart-box {
    transition: all 0.6s ease;
}
.carte-header__heart .heart {
    transition: all 0.6s ease;
}
.carte-header__heart:hover  {
    cursor: pointer;
}  
.carte-header__heart:hover .heart-box {
    z-index: 10;
    height: 0px;
}
.carte-header__heart:hover .heart {
    background: -webkit-linear-gradient($colour-primary, $colour-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: transparent;
}  
@keyframes card-delay {
      0% {
          top: 20px;
          opacity: 0;
      }
      100% {
          top: 0px;
          opacity: 1;
      }
}
.delay {
    &--1 {animation-delay: 0.4s;}
    &--2 {animation-delay: 0.7s;}
    &--3 {animation-delay: 1s;}
    &--4 {animation-delay: 1.3s;}
    &--5 {animation-delay: 1.6s;}
    &--6 {animation-delay: 1.9s;}
    &--7 {animation-delay: 2.2s;}
    &--8 {animation-delay: 2.5s;}
    &--9 {animation-delay: 2.8s;}
    &--10 {animation-delay: 3.1s;}
}